<div class="row top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Guitar-board</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a class="button"[routerLink]="['']">Home</a></li>
            <li><a class="button"[routerLink]="['/about']">About</a></li>
            <li><a class="button"[routerLink]="['/board']">Board</a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

<hr>

<div class="row">
    <p>&copy; 2016</p>
</div>
