<div class="row">
    <h2>Home page</h2>
</div>
<div class="row">
    <img data-interchange="[assets/img/interchange/small.jpg, small], [assets/img/interchange/medium.jpg, medium], [assets/img/interchange/large.jpg, large]">
</div>

<div class="row">
    <div class="small-4 columns">
        <img class="thumbnail" src="http://placeimg.com/200/200/music" alt="Photo of Uranus.">
    </div>
    <div class="small-4 columns">
        <img class="thumbnail" src="http://placeimg.com/200/200/music" alt="Photo of Neptune.">
    </div>
    <div class="small-4 columns">
        <img class="thumbnail" src="http://placeimg.com/200/200/music" alt="Photo of Pluto.">
    </div>
</div>
